{% extends 'superuser/base.html' %}

{% block content %}
<div class="container">
    <div class="page-inner page-inner-tab-style">
        <div class="page-header">
            <h4 class="page-title">{{title}}</h4>
            <ul class="breadcrumbs pt-4">
                <li class="nav-home">
                    <p>
                        <i class="flaticon-home"></i>
                    </p>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <p>Super User</p>
                </li>
                <li class="separator">
                    <i class="flaticon-right-arrow"></i>
                </li>
                <li class="nav-item">
                    <p>{{title}}</p>
                </li>
            </ul>
        </div>
        {% if title != 'Semua Pengaduan' %}
        <div class="row">
            <div class="col-sm-12 col-md-6">
                <div class="card card-stats card-round">
                    <a class="card-block stretched-link text-decoration-none" style="text-decoration: none;"
                        href="/superuser/complain/received">
                        <div class="card-body ">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-primary bubble-shadow-small">
                                        <i class="fas fa-inbox"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Pengaduan Masuk</p>
                                        <h4 class="card-title">{{received}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-sm-12 col-md-6">
                <div class="card card-stats card-round">
                    <a class="card-block stretched-link text-decoration-none" style="text-decoration: none;"
                        href="/superuser/complain/forwarded">
                        <div class="card-body ">
                            <div class="row align-items-center">
                                <div class="col-icon">
                                    <div class="icon-big text-center icon-secondary bubble-shadow-small">
                                        <i class="fas fa-share-square"></i>
                                    </div>
                                </div>
                                <div class="col col-stats ml-3 ml-sm-0">
                                    <div class="numbers">
                                        <p class="card-category">Pengaduan Diteruskan</p>
                                        <h4 class="card-title">{{forwarded}}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header text-center">
                        <h3>
                            {{user.job}}
                        </h3>
                        <p class="card-category">SMP - SMA Insan Cendekia Boarding School</p>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="add-row" class="display table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th style="min-width: 80px" class="no-sort">Foto Profil</th>
                                        <th style="min-width: 170px">Pengirim</th>
                                        <th style="min-width: 190px">Judul</th>
                                        <th style="min-width: 150px">Kategori</th>
                                        <th style="min-width: 130px">Waktu</th>
                                        <th style="min-width: 220px" class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for item in complain %}
                                    <tr>
                                        <td class="text-center">
                                            <div class="avatar avatar-lg">
                                                {% if item.avatar %}
                                                    <img src="/uploads/avatar/{{item.avatar}}" alt="..." class="avatar-img rounded-circle">
                                                {% else %}
                                                    <img src="/images/avatar.png" alt="..." class="avatar-img rounded-circle">
                                                {% endif %}
                                            </div>
                                        </td>
                                        <td>{{item.name | title}}</td>
                                        <td>{{item.title | title}}</td>
                                        <td>{{item.category | title}}</td>
                                        <td>{{item.received_at}}</td>
                                        <td class="text-center">
                                            <div class="form-button-action text-white">
                                                <a href="/superuser/complain/detail/{{item.pk}}" class="btn btn-primary">
                                                    <i class="fas fa-book-open"></i>&nbsp;Buka
                                                </a>
                                            </div>
                                            <div class="form-button-action text-white">
                                                <a class="open-delete-complain btn btn-danger" data-toggle="modal" href="#delete-complain" data-pk="{{item.pk}}"
                                                data-name="{{item.name}}">
                                                    <i class="fas fa-eraser"></i>&nbsp;Hapus
                                                </a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="delete-complain" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title w-100 text-center">
                    <p class="h3">Hapus Data Pengaduan</p>
                </h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>yakin menghapus data pengaduan dari <span id="name"></span> ?</p>
                <div class="text-right">
                    <a type="button" class="pk btn btn-primary text-white mr-2 mb-2">Hapus</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}