{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="page-inner">
        <div class="row">
            <div class="col-md-12 ml-auto mr-auto">
                <div class="card card-profile">
                    <div class="card-body">
                        <div class="form-group">
                            <p class="h2 text-center"><b>Panduan APIC</b></p>
                            <p class="h3 text-center pb-4">Wali Murid</p>
                            <p class="h4"><b>Membuat Akun</b></p>
                            <ol>
                                <li>Klik login</li>
                                <li>Klik daftar pada bagian bawah form login</li>
                                <li>Lengkapi formulir pendaftaran dengan data yang valid, NIM dapat ditanyakan pada
                                    peserta didik atau internal sekolah</li>
                                <li>Jika data yang dimasukan valid, silahkan buka email untuk aktivasi akun, klik link
                                    yang terdapat pada email</li>
                                <li>Link pada email akan mengarahkan pengguna ke halaman login akun, silahkan masukan email
                                    dan passsword sesuai dengan formulir pendaftaran</li>
                            </ol>
                            <p class="h4"><b>Menyampaikan Pengaduan</b></p>
                            <ol>
                                <li>Buka halaman login</li>
                                <li>Silahkan login dengan akun yang telah dibuat</li>
                                <li>Isi formulir pengaduan (wajib mengisi kolom judul, kategori, tujuan, dan pesan)</li>
                                <li>Klik ok pada bagian bawah formulir, cek email dan pastikan ada notifikasi bahwa pengaduan telah terkirim</li>
                                <li>Silahkan tunggu dalam jangka waktu 1 X 24 jam sejak pengaduan terkirim, balasan akan dikirim via email</li>
                            </ol>
                            <p class="h4"><b>Mengubah Password</b></p>
                            <ol>
                                <li>Buka halaman login</li>
                                <li>Klik lupa password yang terdapat di tengah form login</li>
                                <li>Masukan email yang sama pada saat pembuatan akun, klik kirim</li>
                                <li>Link ubah password akan dikirim via email</li>
                                <li>Buka email dan klik link ubah password yang tersedia</li>
                                <li>Masukan password baru, klik reset</li>
                                <li>Silahkan login dengan password yang baru</li>
                            </ol>
                            <p class="h4"><b>Mengubah Profile Akun</b></p>
                            <ol>
                                <li>Buka halaman login</li>
                                <li>Silahkan login dengan akun yang telah dibuat</li>
                                <li>Klik tab profile</li>
                                <li>Silahkan ubah profile sesuai kehendak</li>
                                <li>Klik simpan untuk menyimpan perubahan</li>
                                <li>Jika mengubah email, maka perlu melakukan aktivasi ulang akun melalui email yang baru</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}