{% extends 'home/base.html' %}

{% block content %}
<div class="container">
    <div class="page-inner pt-5">
        <div class="row pt-5">
            <div class="col-md-5 ml-auto mr-auto pt-5">
                <div class="text-center text-white">
                    <img src="/images/logo-ic-sm.png" alt="" height="175">
                    <!-- <p class="h5"><b>INSAN CENDEKIA</b></p> -->
                    <br /><br />
                    <a href="/signin" type="button" class="btn btn-info btn-round btn-lg col-4">Masuk</a>
                    <br><br>
                    <h3><b>Aplikasi Pengaduan Insan Cendekia</b></h3>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}